<div class="container xl:gx-xl">
  <div class="row">
    <div
      class="col lg:col-8"
      data-component="related_topics"
      data-section-id="{{ section.id }}"
    ></div>
  </div>
</div>

{% schema %}
{
  "name": "Related Topics",
  "class": "product-related-topics",
  "presets": [
    {
      "name": "product-related-topics"
    }
  ]
}
{% endschema %}
