<div class="container xl:gx-xl">
  <div class="row">
    <div
      class="col lg:col-8"
      data-component="page_break"
      data-section-id="{{ section.id }}"
    >
      <hr class="bg-grey my-12">
    </div>
  </div>
</div>

{% schema %}
{
  "name": "Product Page Break",
  "class": "product-page-break",
  "presets": [
    {
      "name": "product-page-break"
    }
  ]
}
{% endschema %}
