<div class="container xl:gx-xl">
  <div class="row">
    <div
      id="product-speakers"
      class="col lg:col-8"
      data-component="speakers"
      data-section-id="{{ section.id }}"
    ></div>
  </div>
</div>

{% schema %}
{
  "name": "Product Speakers",
  "class": "product-speakers",
  "presets": [
    {
      "name": "product-speakers"
    }
  ]
}
{% endschema %}
