<div class="container xl:gx-xl">
  <div class="row">
    <div
      id="product-agenda"
      class="col lg:col-8"
      data-component="agenda_details"
      data-section-id="{{ section.id }}"
    ></div>
  </div>
</div>

{% schema %}
{
  "name": "Product Agenda",
  "class": "product-agenda",
  "presets": [
    {
      "name": "product-agenda"
    }
  ]
}
{% endschema %}
