<div class="container xl:gx-xl">
  <div class="row">
    <div
      class="col lg:col-8"
      data-component="course_book"
      data-section-id="{{ section.id }}"
    ></div>
  </div>
</div>

{% schema %}
{
  "name": "Course Book",
  "class": "product-course-book",
  "presets": [
    {
      "name": "product-course-book"
    }
  ]
}
{% endschema %}
