<div class="w-full bg-grey-light">
  <div class="container xl:gx-xl">
    <div class="row">
      <div class="flex flex-col sm:flex-row sm:flex-nowrap gap-6 justify-between items-center py-7">
        {% if section.settings.text != blank %}
          <div class="text-callout">{{ section.settings.text }}</div>
        {% endif %}

        <a
          class="btn btn--accent flex w-fit items-center gap-2 {% if section.settings.text == blank %}mx-auto{% endif %}"
          href="{{ section.settings.url }}"
        >
          {{ section.settings.cta }}
          <svg
            width="13"
            height="13"
            aria-hidden="true"
            strokeWidth="1"
            class="rotate-180"
          >
            <use href="#icon-arrow" />
          </svg>
        </a>
      </div>
    </div>
  </div>
</div>

{% schema %}
{
  "name": "Text Callout Module",
  "class": "section",
  "settings": [
    {
      "type": "richtext",
      "id": "text",
      "label": "text"
    },
    {
      "type": "url",
      "id": "url",
      "label": "CTA URL"
    },
    {
      "type": "text",
      "id": "cta",
      "label": "CTA Text"
    }
  ],
  "presets": [
    {
      "name": "Text Callout Module"
    }
  ]
}
{% endschema %}
